<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhoneKey</key>
	<string></string>
	<key>EmailKey</key>
	<string></string>
	<key>ContactNameKey</key>
	<string></string>
	<key>AmenitiesKey</key>
	<string></string>
	<key>DescriptionKey</key>
	<string></string>
	<key>CountryKey</key>
	<string></string>
	<key>StateKey</key>
	<string></string>
	<key>CityKey</key>
	<string></string>
	<key>AddressKey</key>
	<string></string>
	<key>NameKey</key>
	<string></string>
</dict>
</plist>
